{{define "title"}}{{ .tool_name }}{{end}}
{{define "content"}}
    <div class="row">
        <main class="col-sm-8">
            {{if .notification}}
                <div class="alert alert-{{.alert_type}}">
                    {{.notification}}
                </div>
            {{end}}
            <div class="row">
                <div class="col-sm-4">
                    <img src="/static/logo.png" alt="{{.tool_name}}" title="{{.tool_name}}" width="100%">
                </div>
                <div class="col-sm-6">
                    <h1>{{ .tool_name }}</h1>
                </div>
            </div>
            <p>CryProcessor is a python-written tool for searching and extracting Cry toxins from illumina sequence data or from the protein fasta files. It includes several parts: an hmm-based scanning for potential Cry toxins, obtaining information about the domains, extracting Cry toxins with 3 domains only and comparing found toxins with Bt nomenclature.</p>

            <p>The mode for performing the toxins search directly from the illumina reads implies building an assembly graph (using SPAdes) and the subsequent mining toxins directly from the obtained assebmly graph.</p>
            Web site for crying and eating toxins))
        </main>
        <div class="col-sm-4">
            {{if .logged }}{{template  "logged" . }}{{ else }}{{template "login" .}}{{end}}
        </div>
    </div>
{{end}}