<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }} {{ end }} </title>
    {{ block "style" .}} {{ end }}
</head>
<body>
    <div class="container mt-3">
        {{ template "content" . }}
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">The development of 'Cry Processor' was supported by Russian Science Foundation (RSF), Project 18-76-00028</span>
        </div>
    </footer>

    {{ block "js" . }} {{ end }}

</body>
</html>