<!DOCTYPE html>
<html>
<head>
    <title>{{"subject"}}</title>
    {{block "style" .}}{{end}}
</head>
<body class="container">
<div class="row">
    <main class="col-sm-8">
        <h1>{{"subject"}}</h1>
        <p>
            You have been registered at CryProcessor web-server. Please, follow the link below to activate your account:
        </p>
        <a href="{{"link"}}" class="btn btn-dark">Activate</a>
        <p>
            After confirmation of the email with this link, your account should be activated by the administrator. You will be notified when your account is active.
        </p>
    </main>
</div>

</body>
</html>